<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-one-liners.ZPM">
    <Module>
      <Name>dc-one-liners</Name>
      <Version>1.2.0</Version>
      <Description>Contains useful ObjectScript one-line long commands. Add your own! </Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/iris</SourcesRoot>
      <Resource Name="dc.one.PKG"/>
      <Resource Name="dc.one.Line.INC"/>
    </Module>
  </Document>
</Export>